#idBody {
    padding-top: 70px;
}

#idBody .navbar-nav.navbar-right:last-child {
  margin-right: 0;
}

#idBody footer {
  height: 60px;
  width: 100%;
}

#idBody footer .container {
  width: auto;
  max-width: 700px;
  padding: 0 15px;
}

#idBody footer .container .text-muted {
  margin: 0 10px 0 0;
  padding: 0;
}

#idBody footer .container .text-muted p {
  margin: 0;
  padding: 0;
}

#idBody .ui-spreadsheet-workspace {
  border: medium none;
}

