html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
{
	font-family: Microsoft YaHei,Segoe UI,Tahoma,Arial,Verdana,sans-serif;
}

html,body {
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,
cite,code,del,dfn,em,img,q,s,samp,small,strike,strong,sub,
sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,
button,table,caption,tbody,tfoot,thead,tr,th,td
{
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	line-height: 1;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ol,ul {
	list-style: none;
}

q:before,q:after,blockquote:before,blockquote:after {
	content: "";
}

html {
	overflow-y: scroll;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

a:focus {
	outline: medium none;
}

a:hover,a:active {
	outline: medium none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section
	{
	display: block;
}

audio,canvas,video {
	display: inline-block; *
	display: inline; *
	zoom: 1;
}

audio:not([controls]){
	display:none;
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

button,input,select,textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline; *
	vertical-align: middle;
}

button,input {
	line-height: normal; *
	overflow: visible;
}

button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

body {
	background-color: #535353;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	color: #404040;
}

a {
	color: #808080;
	text-decoration: none;
	line-height: inherit;
	font-weight: inherit;
}

a:hover {
	color: #404040;
	text-decoration: none;
}

p {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	margin-bottom: 9px;
}

p small {
	font-size: 11px;
	color: #bfbfbf;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	color: #404040;
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
	color: #bfbfbf;
}

h1 {
	margin-bottom: 18px;
	font-size: 30px;
	line-height: 36px;
}

h1 small {
	font-size: 18px;
}

h2 {
	font-size: 24px;
	line-height: 36px;
}

h2 small {
	font-size: 14px;
}

h3,h4,h5,h6 {
	line-height: 36px;
}

h3 {
	font-size: 18px;
}

h3 small {
	font-size: 14px;
}

h4 {
	font-size: 16px;
}

h4 small {
	font-size: 12px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
	color: #bfbfbf;
	text-transform: uppercase;
}

ul,ol {
	margin: 0 0 18px 25px;
}

ul ul,ul ol,ol ol,ol ul {
	margin-bottom: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li {
	line-height: 18px;
	color: #808080;
}

ul.unstyled {
	list-style: none;
	margin-left: 0;
}

dl {
	margin-bottom: 18px;
}

dl dt,dl dd {
	line-height: 18px;
}

dl dt {
	font-weight: bold;
}

dl dd {
	margin-left: 9px;
}

hr {
	margin: 20px 0 19px;
	border: 0;
	border-bottom: 1px solid #eee;
}

strong {
	font-style: inherit;
	font-weight: bold;
}

em {
	font-style: italic;
	font-weight: inherit;
	line-height: inherit;
}

blockquote {
	margin-bottom: 18px;
	border-left: 5px solid #eee;
	padding-left: 15px;
}

blockquote p {
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
	margin-bottom: 0;
}

blockquote small {
	display: block;
	font-size: 12px;
	font-weight: 300;
	line-height: 18px;
	color: #bfbfbf;
}

blockquote small:before {
	content: '\2014 \00A0';
}

address {
	display: block;
	line-height: 18px;
	margin-bottom: 18px;
}

code,pre {
	padding: 0 3px 2px;
	font-family: Monaco, Andale Mono, Courier New, monospace;
	font-size: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

code {
	background-color: #fee9cc;
	color: rgba(0, 0, 0, 0.75);
	padding: 1px 3px;
}

pre {
	background-color: #f5f5f5;
	display: block;
	padding: 8.5px;
	margin: 0 0 18px;
	line-height: 18px;
	font-size: 12px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

form {
	margin: 5px;
}

fieldset {
	border: 1px solid #CCCCCC;
	padding: 5px;
}

fieldset legend {
	margin-left: 5px;
	padding: 0 5px;
	display: block;
	line-height: 1;
}

form .clearfix {
	margin-bottom: 18px;
	zoom: 1;
}

form .clearfix:before,form .clearfix:after {
	display: table;
	content: "";
	zoom: 1;
}

form .clearfix:after {
	clear: both;
}

label,input,select,textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	line-height: normal;
}

label {
	font-size: 12px;
	line-height: 18px;
	float: left;
	color: #404040;
}

form .input {
	margin-left: 150px;
}

input[type=checkbox],input[type=radio] {
	cursor: pointer;
}

input,textarea,select {
	display: inline-block;
	width: 100%;
	font-size: 12px;
	line-height: 18px;
	color: #808080;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

input,textarea,label {
	height: 18px;
}

select {
	padding: initial;
}

input[type=checkbox],input[type=radio] {
	width: auto;
	height: auto;
	line-height: normal;
	border: none;
}

input[type=file] {
	background-color: #ffffff;
	padding: initial;
	border: initial;
	line-height: initial;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

input[type=button],input[type=reset],input[type=submit] {
	width: auto;
	height: auto;
}

input[type=file] {
	height: 27px; *
	height: auto;
	line-height: 27px; *
	margin-top: 4px;
}

select[multiple] {
	height: inherit;
	background-color: #ffffff;
}

textarea {
	height: auto;
}

input,textarea {
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input:focus,textarea:focus {
	outline: 0;
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px
		rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px
		rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px
		rgba(82, 168, 236, 0.6);
}

input[type=file]:focus,input[type=checkbox]:focus,select:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: 1px dotted #666;
}