div.ui-fs-file-ac3-icon { background-image: url("../images/files/ac3.png"); }
div.ui-fs-file-ai-icon { background-image: url("../images/files/ai.png"); }
div.ui-fs-file-aiff-icon { background-image: url("../images/files/aiff.png"); }
div.ui-fs-file-ani-icon { background-image: url("../images/files/ani.png"); }
div.ui-fs-file-asf-icon { background-image: url("../images/files/asf.png"); }
div.ui-fs-file-au-icon { background-image: url("../images/files/au.png"); }
div.ui-fs-file-avi-icon { background-image: url("../images/files/avi.png"); }
div.ui-fs-file-bat-icon { background-image: url("../images/files/bat.png"); }
div.ui-fs-file-bin-icon { background-image: url("../images/files/bin.png"); }
div.ui-fs-file-bmp-icon { background-image: url("../images/files/bmp.png"); }
div.ui-fs-file-bup-icon { background-image: url("../images/files/bup.png"); }
div.ui-fs-file-cab-icon { background-image: url("../images/files/cab.png"); }
div.ui-fs-file-cal-icon { background-image: url("../images/files/cal.png"); }
div.ui-fs-file-cat-icon { background-image: url("../images/files/cat.png"); }
div.ui-fs-file-cur-icon { background-image: url("../images/files/cur.png"); }
div.ui-fs-file-dat-icon { background-image: url("../images/files/dat.png"); }
div.ui-fs-file-dcr-icon { background-image: url("../images/files/dcr.png"); }
div.ui-fs-file-der-icon { background-image: url("../images/files/der.png"); }
div.ui-fs-file-dic-icon { background-image: url("../images/files/dic.png"); }
div.ui-fs-file-dll-icon { background-image: url("../images/files/dll.png"); }
div.ui-fs-file-doc-icon { background-image: url("../images/files/doc.png"); }
div.ui-fs-file-docx-icon { background-image: url("../images/files/docx.png"); }
div.ui-fs-file-dvd-icon { background-image: url("../images/files/dvd.png"); }
div.ui-fs-file-dwg-icon { background-image: url("../images/files/dwg.png"); }
div.ui-fs-file-dwt-icon { background-image: url("../images/files/dwt.png"); }
div.ui-fs-file-fon-icon { background-image: url("../images/files/fon.png"); }
div.ui-fs-file-gif-icon { background-image: url("../images/files/gif.png"); }
div.ui-fs-file-hlp-icon { background-image: url("../images/files/hlp.png"); }
div.ui-fs-file-hst-icon { background-image: url("../images/files/hst.png"); }
div.ui-fs-file-html-icon { background-image: url("../images/files/html.png"); }
div.ui-fs-file-ico-icon { background-image: url("../images/files/ico.png"); }
div.ui-fs-file-ifo-icon { background-image: url("../images/files/ifo.png"); }
div.ui-fs-file-inf-icon { background-image: url("../images/files/inf.png"); }
div.ui-fs-file-ini-icon { background-image: url("../images/files/ini.png"); }
div.ui-fs-file-java-icon { background-image: url("../images/files/java.png"); }
div.ui-fs-file-jif-icon { background-image: url("../images/files/jif.png"); }
div.ui-fs-file-jpg-icon { background-image: url("../images/files/jpg.png"); }
div.ui-fs-file-json-icon { background-image: url("../images/files/json.png"); }
div.ui-fs-file-log-icon { background-image: url("../images/files/log.png"); }
div.ui-fs-file-m4a-icon { background-image: url("../images/files/m4a.png"); }
div.ui-fs-file-mmf-icon { background-image: url("../images/files/mmf.png"); }
div.ui-fs-file-mmm-icon { background-image: url("../images/files/mmm.png"); }
div.ui-fs-file-mov-icon { background-image: url("../images/files/mov.png"); }
div.ui-fs-file-mp2-icon { background-image: url("../images/files/mp2.png"); }
div.ui-fs-file-mp2v-icon { background-image: url("../images/files/mp2v.png"); }
div.ui-fs-file-mp3-icon { background-image: url("../images/files/mp3.png"); }
div.ui-fs-file-mp4-icon { background-image: url("../images/files/mp4.png"); }
div.ui-fs-file-mpeg-icon { background-image: url("../images/files/mpeg.png"); }
div.ui-fs-file-msp-icon { background-image: url("../images/files/msp.png"); }
div.ui-fs-file-pdf-icon { background-image: url("../images/files/pdf.png"); }
div.ui-fs-file-png-icon { background-image: url("../images/files/png.png"); }
div.ui-fs-file-ppt-icon { background-image: url("../images/files/ppt.png"); }
div.ui-fs-file-pptx-icon { background-image: url("../images/files/pptx.png"); }
div.ui-fs-file-psd-icon { background-image: url("../images/files/psd.png"); }
div.ui-fs-file-ra-icon { background-image: url("../images/files/ra.png"); }
div.ui-fs-file-rar-icon { background-image: url("../images/files/rar.png"); }
div.ui-fs-file-reg-icon { background-image: url("../images/files/reg.png"); }
div.ui-fs-file-rtf-icon { background-image: url("../images/files/rtf.png"); }
div.ui-fs-file-sql-icon { background-image: url("../images/files/sql.png"); }
div.ui-fs-file-theme-icon { background-image: url("../images/files/theme.png"); }
div.ui-fs-file-tiff-icon { background-image: url("../images/files/tiff.png"); }
div.ui-fs-file-tlb-icon { background-image: url("../images/files/tlb.png"); }
div.ui-fs-file-ttf-icon { background-image: url("../images/files/ttf.png"); }
div.ui-fs-file-txt-icon { background-image: url("../images/files/txt.png"); }
div.ui-fs-file-vob-icon { background-image: url("../images/files/vob.png"); }
div.ui-fs-file-wav-icon { background-image: url("../images/files/wav.png"); }
div.ui-fs-file-wma-icon { background-image: url("../images/files/wma.png"); }
div.ui-fs-file-wmv-icon { background-image: url("../images/files/wmv.png"); }
div.ui-fs-file-wpl-icon { background-image: url("../images/files/wpl.png"); }
div.ui-fs-file-wri-icon { background-image: url("../images/files/wri.png"); }
div.ui-fs-file-xls-icon { background-image: url("../images/files/xls.png"); }
div.ui-fs-file-xlsx-icon { background-image: url("../images/files/xlsx.png"); }
div.ui-fs-file-xml-icon { background-image: url("../images/files/xml.png"); }
div.ui-fs-file-xsl-icon { background-image: url("../images/files/xsl.png"); }
div.ui-fs-file-zip-icon { background-image: url("../images/files/zip.png"); }