/* Styles for tabs */
.fly-container { padding: 10px; height: 75px; margin-bottom: 15px; }
.fly-container .fly-panels { margin:0; }
.fly-container .fly-tabs{margin:0 0 ;padding:0;list-style:none;zoom:1;height:40px;min-height:40px;}

.fly-container .fly-tabs:before,.fly-container .fly-tabs:after{display:table;content:"";zoom:1;}
.fly-container .fly-tabs:after{clear:both;}
.fly-container .fly-tabs li{margin-left:-20px;float:left;position:relative;margin-bottom:-1px;}
.fly-container .fly-tabs li a{text-decoration:none;display:block;margin-right:2px;line-height:22px;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;color: #FFFFFF;}
.fly-container .fly-tabs li a:hover {
  outline: 0;
  -webkit-box-shadow: inset -10px -5px 5px rgba(0,0,0,.075), -5px 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset -10px -5px 5px rgba(0,0,0,.075), -5px 0 8px rgba(102, 175, 233, .6);
}
.fly-container .fly-tabs li a:focus {
	outline: 0;
}
.fly-container .fly-tabs li a.ui-tab-state-active{font-weight: bold;}
.fly-container .fly-tabs li a.ui-tab-state-active:hover{}

/* Styles for steps bar tabs */
.fly-flow-step-bar { float:left;position:relative;overflow:hidden;}
.fly-flow-step-bar ul.ui-tabs { height: 2700px; position: relative; }
.fly-flow-step-bar ul.ui-tabs li { width:40px; height: 40px; background:url("../images/default/tabbg.normal.png") no-repeat;background-position: center;border-bottom: 1px solid #8E8E8E; }
.fly-flow-step-bar ul.ui-tabs li:hover {background:url("../images/default/tabbg.hover.png") no-repeat; }
.fly-flow-step-bar ul.ui-tabs li.ui-tab-state-active:hover { background: #fff; }
.fly-flow-step-bar ul.ui-tabs li a { padding: 10px 0; color:#fff;}
.fly-flow-step-bar ul.ui-tabs li a.ui-tab-state-active{ color:#428bca; }
.fly-flow-step-bar div.ui-tab-panel-container { margin: 0;padding: 0;background: transparent;}


.fly-flow-step-panel {width: 150px;}

.fly-flow-step-bar div.ui-browsepanel-itemcon {
	margin: 0;
	padding: 5px 5px 15px;
	border: medium none;
	width: 70px;
	height: 75px;
}

.fly-flow-step-bar div.ui-browsepanel_itemicon {
	height: 32px;
    width: 32px;
    margin: 10px 14px 0;
}

.fly-flow-step-bar div.ui-browsepanel-con {
	overflow: hidden;
}

.fly-flow-log {
}


#datasource .ui-easytree-con { width: 100%; }

#idBody {
	background: none repeat scroll 0 0 #e8e8e8;
}


/* 启动加载 */
#startingCover {
    background: none repeat scroll 0 0 #535353;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000000;
}
#startingLogo {
    background: url("../images/default/logo.large.png") repeat scroll 0 0 transparent;
    height: 35px;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: absolute;
    top: 50%;
    width: 91px;
}
#startingText {
    color: #fff;
    cursor: default;
    font-family: Microsoft YaHei,Segoe UI,Tahoma,Arial,Verdana,sans-serif;
    font-size: 1em;
    height: 50px;
    left: 50%;
    margin: 10px 0 0 -77px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 160px;
}
#startingBarContainer {
    background: none repeat scroll 0 0 #666666;
    border: 1px solid #999999;
    font-size: 0;
    height: 3px;
    left: 50%;
    margin: 50px 0 0 -50px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 100px;
}
#startingBar {
    background: url("../images/desktop/starting_bar.gif") repeat scroll 0 0 #FE780A;
    font-size: 0;
    height: 2px;
    overflow: hidden;
    width: 0;
}
#progress {
    bottom: 30px;
    display: none;
    height: 450px;
    overflow: auto;
    position: absolute;
    right: 20px;
    width: 250px;
    z-index: 1000001;
}
#startingTips {
    color: #666666;
    font-family: tahoma;
    font-size: 12px;
    height: 20px;
    left: 50%;
    margin: 72px 0 0 60px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 40px;
}
/*banner bg*/
.ui-layout-north{
	height:40px;
}
.ui-tab-homepage{
	width:48px;
	height:38px;
	background-image: url("../images/default/startlogo.png");
	background-repeat: no-repeat;
	padding:0;
	margin: 0;
	float:left;
}
.ui-tab-homepage.ui-tab-state-active,
.ui-tab-homepage:hover{
	background-image: url("../images/default/startlogo.active.png");
}
.fly-container .fly-tabs > li > a.ui-tab-state-active >div.ui-tab-left{
	background-image: url("../images/default/tableft-hover.png");
}
.fly-container .fly-tabs > li > a.ui-tab-state-active >div.ui-tab-right{
	background-image: url("../images/default/tabright-hover.png");
	position: relative;
    z-index: 100;
}
.fly-container .fly-tabs > li > a.ui-tab-state-active >div.ui-tab-middle{
	background-image: url("../images/default/tabmiddle-hover.png");
}
.ui-tab-homepage-text{
	width:89px;
	height:23px;
	background-image: url("../images/default/logotext.png");
	background-repeat: no-repeat;
	margin-top:8px;
	float:left;
}
.ui-tab-a{
	margin-top:10px;
}
.ui-tab-left{
	width:21px;
	height:30px;
	background-image: url("../images/default/tableft.png");
	background-repeat: no-repeat;
	float:left;
}
.ui-tab-right{
	width:21px;
	height:30px;
	background-image: url("../images/default/tabright.png");
	background-repeat: no-repeat;
	float:left;
}
.ui-tab-middle{
	width:auto;
	height:30px;
	background-image: url("../images/default/tabmiddle.png");
	display:block;
	float:left;
	padding-right:10px;
}
.ui-tab-state-hover .ui-tab-text,
.ui-tab-state-active .ui-tab-text {
	 color: #ffffff;
}
.ui-tab-state-hover .ui-modify-tag,
.ui-tab-state-active .ui-modify-tag {
	 color: #2E83FF;
}

.ui-tab-text, .ui-modify-tag {
	 color: #808080;
}
.ui-tab-middle span.ui-icon-close {
	position: absolute;
    z-index: 200;
    margin-top:2px;
}

/*首页纵向选项卡*/
.ui-tab-side-container ul.ui-tabs li.ui-tab-state-active{
	border: medium none;
}

#navisTab {
	padding: 0 35px 0 0;
	margin-left:0;
}
#navigator-ul {
	position: relative;
	height: 2700px;
	width: 70px;
	background: #535353 url("../images/default/home.left.bg.png") 0 0 repeat-y;
}
#navigator-ul li{
	width:70px;
	height:70px;
	background: #e8e8e8 url("../images/default/tabbg.normal.png") 0 0 no-repeat;
}
#navigator-ul li:hover {
	background: #e8e8e8 url("../images/default/tabbg.hover.png") 0 0 no-repeat;
}
#navigator-ul li a:hover {
	background-color: transparent;
}
#navigator-ul li.ui-tab-state-active{
	background: #e8e8e8 url("../images/default/tabbg.active.png") no-repeat scroll 0 0;
}

#navigator-ul li a{
 	padding:0;
 	margin:0;
 	color:#fff;
}

#navigator-ul li.ui-tab-state-active a {
	color:#428bca;
}

.fly-content-panels{
	position: relative;
	background: transparent;
	border:0;
}

/*底部状态栏*/
.fly-south{
	background: #535353 url("../images/default/tabmiddle.png") repeat-x;	
	line-height: 30px;
	color:#fff;
}
.fly-exit{
	width:19px;
	height:19px;
	background-image: url("../images/default/exit.png");	
	background-repeat:no-repeat;
	float:right;
	margin:5px 20px;
	cursor:pointer;
}
/*导航小图标*/
.ui-navi-icon{
	width:100%;
	height:38px;
	margin-bottom: 3px;
	background-repeat:no-repeat;
	background-position:bottom;
}
.ui-navi-icon-di{
	background-image: url("../images/desktop/navi_di.png");	
}
.ui-navi-icon-db{
	background-image: url("../images/desktop/navi_db.png");
}
.ui-navi-icon-smart{
	background-image: url("../images/desktop/navi_smart.png");
}
.ui-navi-icon-report{
	background-image: url("../images/desktop/navi_report.png");
}
.ui-navi-icon-fs{
	background-image: url("../images/desktop/navi_filesys.png");
}
.ui-navi-icon-systools{
	background-image: url("../images/desktop/navi_systools.png");
}

a.ui-tab-state-active .ui-navi-icon-di{
	background-image: url("../images/desktop/navi_di_active.png");	
}
a.ui-tab-state-active .ui-navi-icon-db{
	background-image: url("../images/desktop/navi_db_active.png");
}
a.ui-tab-state-active .ui-navi-icon-smart{
	background-image: url("../images/desktop/navi_smart_active.png");
}
a.ui-tab-state-active .ui-navi-icon-report{
	background-image: url("../images/desktop/navi_report_active.png");
}
a.ui-tab-state-active .ui-navi-icon-fs{
	background-image: url("../images/desktop/navi_filesys_active.png");
}
a.ui-tab-state-active .ui-navi-icon-systools{
	background-image: url("../images/desktop/navi_systools_active.png");
}

.fly-user{
	width:19px;
	height:19px;
	background-image: url("../images/default/user.png");	
	background-repeat:no-repeat;
	float:left;
	margin:5px;
	cursor:pointer;
}
.fly-userinfo{
	cursor:pointer;
	float: left;
}
.fly-userinfo:hover {
	color:#2e83ff;
}
.ui-browsepanel-con div span p{
	color:#333;
}
.ui-browsepanel-con div.hover span p,
.ui-browsepanel-con div.active span p{
	
}

.fly-flow-step-bar .ui-browsepanel-itemcon span p {
	font-size: 80%;
	font-size: 0.8em;
}

.fly-container .fly-tabs li a span{
	line-height: 30px;
}

.ui-tab-side-container ul.ui-tabs{
	background: #e8e8e8 url("../images/default/funbarbg.png") repeat-y;
	border-right: medium none;
}
.ui-tab-side-container ul.ui-tabs li a:hover,
.ui-tab-side-container ul.ui-tabs li a.ui-tab-state-active:hover {
	background: transparent;
}
.ui-etree li a{
	color:#fff;
}

.fly-search {
	position: absolute;
	top: 5px;
	right: 10px;
	z-index: 100;
}

.fly-editor-tab{
	width: 100%;
	height:100%;
	margin: 0 5px;
}

.fly-editor-tab .navbar {
	height: 40px;
	min-height: 40px;
	margin-bottom: 0;
}

.fly-editor-tab .navbar .container-fluid {
	height: 40px;
}

.fly-editor-tab .navbar .navbar-brand {
	height: 40px;
	padding: 10px;
	color: #fff;
}

.fly-editor-tab .navbar .navbar-brand .breadcrumb {
	padding: 0;
	background-color: transparent;
}

.fly-editor-tab .navbar .navbar-brand .breadcrumb a {
	color: #fff;
}

.fly-editor-tab .navbar .btn-link{
	color: #fff;
}


.fly-editor-content-height-browse-panel,
.fly-editor-content-browse-panel-no-toolbar{
	width: 100%;
	overflow-y:auto; 
}
.fly-editor-content-browse-panel-no-toolbar{
	height: 100%;
}
.fly-editor-systools .func-line-odd{
	height:auto;
	min-height: 100px;
	background: #f9f9f9;
}
.fly-editor-systools .func-line-even{
	height:auto;
	min-height: 100px;
	background: #e8e8e8;
}
.fly-editor-systools .split-line-odd{
	width: 100%;
	height: 3px;
	background: url("../images/default/split.line.odd.png") repeat-x;
}
.fly-editor-systools .split-line-even{
	width: 100%;
	height: 3px;
	background: url("../images/default/split.line.even.png") repeat-x;
}
.ui-tab-side-container  .fly-editor-content-height-no-padding{
	background:transparent;
	padding-left:72px;
}

.fly-editor-systools .func-title-con{
	width: 100%;
}
.fly-editor-systools .func-item-con{
	float: left;
	margin-left: 15px;
	padding: 5px;
	cursor: pointer;
}

.fly-editor-systools .hover{
	border: 0 none;
}

.fly-editor-systools .func-item{
	width: 32px;
	height: 32px;
	background: url("../images/functype/default.png") no-repeat;
	margin: 0 auto;
	margin-bottom: 5px;
}

.fly-editor-systools .func-title-con .func-item-text{
	font-weight: bold;
	font-size: 1.1em;
	padding: 7px 14px;
}
.fly-editor-systools .func-item-con .func-item-text {
	width: 80px;
	white-space:nowrap;
	text-align: center;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow:hidden;
	cursor: pointer;
}
.fly-editor-systools .func-title-con .func-item-text,
.fly-editor-systools .func-item-con .func-item-text{
	color: #333;
}


div.ui-trans-icon {
	background-image: url("../images/desktop/bi.trans.png");
}
div.ui-job-icon {
	background-image: url("../images/desktop/bi.job.png");
}
div.ui-db-icon {
    background-image: url("../images/desktop/bi.database.png");
}
div.ui-fs-cloud-icon {
	background-image: url("../images/desktop/bi.file.system.cloud.png");
}
div.ui-fs-local-icon {
	background-image: url("../images/desktop/bi.file.system.local.png");
}
div.ui-fs-ftp-icon {
	background-image: url("../images/desktop/bi.file.system.ftp.png");
}
div.ui-fs-sftp-icon {
	background-image: url("../images/desktop/bi.file.system.ftp.png");
}

div.ui-fs-local-folder-icon {
	background-image: url("../images/files/local.folder.png");
}

div.ui-fs-local-ftp-icon,
div.ui-fs-local-sftp-icon {
	background-image: url("../images/files/ftp.folder.png");
}

#plugin_panel .ui-browsepanel-itemcon span p {
	font-size: 0.85em;
    line-height: 1.1em;
    margin: 0 auto;
}
.fly-browsepanel .ui-browsepanel-itemcon {
	border: medium none;
	height: 100px;
}

#navis .ui-browsepanel-con .hover {
	background: #eee;
}

#navis .ui-browsepanel-con .active {
	background: #eee;
	border: 1px solid #999;
}

.fly-browsepanel .ui-browsepanel-itemcon span p {
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}

.fly-editor {
	border: 1px solid #A8A8A8;
	border-top: 0px none;
}

.fly-editor .fly-editor-content * {
	color: #000000;
}

.fly-editor .fly-editor-content .ui-tab-container .ui-tab-panel-container {
	background: none repeat scroll 0 0 transparent;
	border: 1px solid #000000;
}

.fly-editor .fly-editor-content .ui-grid-layout-item-empty {
	color: red;
	height: auto;
	margin: 5px;
}

.fly-editor .fly-editor-content .ui-panel,
.fly-editor .fly-editor-content .ui-show-description-panel,
.fly-editor .fly-editor-content fieldset,
.fly-editor .fly-editor-content input,
.fly-editor .fly-editor-content select,
.fly-editor .fly-editor-content textarea {
	background: none repeat scroll 0 0 transparent;
	border: 1px solid #000000;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
}

.fly-editor .fly-editor-content input:focus,
.fly-editor .fly-editor-content select:focus,
.fly-editor .fly-editor-content textarea:focus {
	-moz-box-shadow: 0 2px 8px #8f8f8f;
    -webkit-box-shadow: 0px 2px 8px #8f8f8f;
    box-shadow: 0px 2px 8px #8f8f8f;
    border-color:rgba(82, 168, 236, 0.8);
    font-weight: bold;
}

.fly-editor .fly-editor-content .ui-show-description-panel,
.fly-editor .fly-editor-content fieldset {
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
}

.fly-editor .ui-tab-container ul.ui-tabs li.ui-tab-state-active {
	background: #696969;
}

.fly-editor .ui-tab-container ul.ui-tabs li a:hover {
	background: none repeat scroll 0 0 transparent;
}

.fly-editor .ui-tab-container span.ui-required-tag {
	color: red;
	margin: 7px 7px 0;
	position: absolute;
}


#navis .ui-scrollbar-div1-vertical {
	background-image: url("../images/default/navis_up_enable.png");
}
#navis .ui-scrollbar-div1-vertical:HOVER {
	background-image: url("../images/default/navis_up_hover.png");
}
#navis .ui-scrollbar-div1-vertical:FOCUS {
	background-image: url("../images/default/navis_up_pressed.png");
}

#navis .ui-scrollbar-div2-vertical {
	background-image: url("../images/default/navis_down_enable.png");
}
#navis .ui-scrollbar-div2-vertical:HOVER {
	background-image: url("../images/default/navis_down_hover.png");
}
#navis .ui-scrollbar-div2-vertical:FOCUS {
	background-image: url("../images/default/navis_down_pressed.png");
}

.fly-flow-step-bar .ui-scrollbar-div1-vertical,
.fly-flow-step-bar .ui-scrollbar-div2-vertical{
	width: 42px;
	height: 13px;
}

.fly-flow-step-bar .ui-scrollbar-div1-vertical {
	background-image: url("../images/default/stepbar_up_enable.png");
}
.fly-flow-step-bar .ui-scrollbar-div1-vertical:hover{
	background-image: url("../images/default/stepbar_up_hover.png");
}
.fly-flow-step-bar .ui-scrollbar-div1-vertical:FOCUS{
	background-image: url("../images/default/stepbar_up_pressed.png");
}

.fly-flow-step-bar .ui-scrollbar-div2-vertical {
	background-image: url("../images/default/stepbar_down_enable.png");
}
.fly-flow-step-bar .ui-scrollbar-div2-vertical:HOVER{
	background-image: url("../images/default/stepbar_down_hover.png");
}
.fly-flow-step-bar .ui-scrollbar-div2-vertical:FOCUS{
	background-image: url("../images/default/stepbar_down_pressed.png");
}


.fly-editor-content-browse-panel-no-toolbar .hover{
	background: #eee;
	-moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
	border: 1px #5C5C5C;
	border-radius:5px;
}

.fly-dashboard-editor-wrapper{
	position: absolute;
}

.fly-dashboard-editor-content{
	background: url("../images/default/dashboard_editer_bg.gif") repeat scroll left top #cccccc;
    position: absolute;
	-moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
	margin: 16px 5px 5px 16px;
}

.fly-dashboard-editor-component{
	position: absolute;
	margin: 0;
	padding: 0;
}

.fly-dashboard-editor-canvas{
	position: absolute;
	margin: 0;
}

.fly-systools-about-title {
	background: url("../images/default/about_title.png") no-repeat;
}

.fly-systools-about-bold{
	font-size: larger;
	font-weight: bold;
}

.fly-module-icon {
	width:54px;
	height:50px;
	margin:5px;
	float:left;
}

.chrome .fly-module-icon-disabled,
.safari .fly-module-icon-disabled,
.firefox .fly-module-icon-disabled,
.mozilla .fly-module-icon-disabled {
	opacity: .3;
    filter: Alpha(Opacity=30);
}

.fly-module-icon-db {
	background: url("../images/modules/db.png") no-repeat;
}

.fly-module-icon-dn {
	background: url("../images/modules/dn.png") no-repeat;
}

.fly-module-icon-di {
	background: url("../images/modules/di.png") no-repeat;
}

.fly-module-icon-ba {
	background: url("../images/modules/ba.png") no-repeat;
}

.fly-module-icon-fs {
	background: url("../images/modules/fs.png") no-repeat;
}

.ui-space-frame {
	display:none;
}

.ui-show-text{
	margin-top: 3px;
}

/* 编辑器的边工具箱 */
.fly-editor-side-bar { 
	overflow: hidden; 
	float: left;
}
.fly-editor-side-bar div.ui-widget-panel {overflow: hidden;}
.fly-editor-side-bar div.ui-widget-header,
.fly-editor-side-bar-only div.ui-widget-header {
	font-weight:normal;
	border: 1px solid #333;
	border-bottom: 0px none;
	padding: 3px 5px 0; 
}
.fly-editor-side-bar div.ui-widget-content,
.fly-editor-side-bar-only div.ui-widget-content { 
	background: transparent;
	border: 1px solid #333;
	border-top: 0px none;
}

/* 多维报表相关 */
.fly-input-group,
.fly-input-group * {
	-moz-box-sizing: content-box; /*Firefox3.5+*/
	-webkit-box-sizing: content-box; /*Safari3.2+*/
	-o-box-sizing: content-box; /*Opera9.6*/
	-ms-box-sizing: content-box; /*IE8*/
	box-sizing: content-box; /*W3C标准*/
}

.fly-input-group {
    border-collapse: separate;
    display: table;
    position: relative;
    margin-bottom: 8px;
}

.fly-input-group-addon {
    background-image: -webkit-linear-gradient(top, #428bca 0%, #3071a9 100%);
  	background-image:         linear-gradient(to bottom, #428bca 0%, #3071a9 100%);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0);
  	background-repeat: repeat-x;
    border: 1px solid #333;
    border-radius: 4px 0 0 4px;
    line-height: 1;
    padding: 3px 6px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: #fff;
}

.fly-input-group-body {
    background-color: transparent;
    background-image: none;
    border: 1px solid #333;
    border-left: 0 none;
    border-radius: 0 4px 4px 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    display: table-cell;
    height: 22px;
    line-height: 1;
    padding: 3px 6px;
    vertical-align: middle;
    width: 100%;
}