/* Styles for tabs */
.fly-container { background: #535353; padding: 10px; height: 75px; margin-bottom: 15px; }
.fly-container .fly-panels { margin:0;background: #535353; }
.fly-container .fly-tabs{margin:0 0 ;padding:0;list-style:none;zoom:1;height:40px;background: url("../images/default/banner-bg.png") repeat-x scroll 0 0 transparent;}
.fly-container .fly-tabs:before,.fly-container .fly-tabs:after{display:table;content:"";zoom:1;}
.fly-container .fly-tabs:after{clear:both;}
.fly-container .fly-tabs li{margin-left:-20px;float:left;position:relative;margin-bottom:-1px;}
.fly-container .fly-tabs li a{text-decoration:none;display:block;margin-right:2px;line-height:22px;-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;color: #FFFFFF;}
.fly-container .fly-tabs li a:hover { }
.fly-container .fly-tabs li a.active{font-weight: bold;}
.fly-container .fly-tabs li a.active:hover{}
/*.fly-container .fly-tabs .active>a,.fly-container .fly-tabs .active>a:hover{background-color:#ffffff;border:1px solid #a8a8a8;border-bottom-color:transparent;cursor:default;font-weight: bold;}*/

/* Styles for steps bar tabs */
.fly-flow-step-bar { float:left;position:relative;overflow:hidden;background: #535353;}
.fly-flow-step-bar ul.ui-tabs { height: 2700px; position: relative; }
.fly-flow-step-bar ul.ui-tabs li { width:40px; height: 40px; background:url("../images/default/tabbg.normal.png") no-repeat;background-position: center;border-bottom: 1px solid #8E8E8E; }
.fly-flow-step-bar ul.ui-tabs li:HOVER{background:url("../images/default/tabbg.hover.png") no-repeat; }
.fly-flow-step-bar ul.ui-tabs li a { padding: 10px 0; color:#ffffff;}
.fly-flow-step-bar ul.ui-tabs li a.active{ }
.fly-flow-step-bar div.ui-tab-panel-container { margin: 0;padding: 0;background: transparent;}


.fly-flow-step-panel {width: 150px;}

.fly-flow-step-bar div.ui-browsepanel-itemcon {
	margin: 0;
	padding: 5px 5px 15px;
	border: medium none;
	width: 60px;
	height: 50px;
}

.fly-flow-step-bar div.ui-browsepanel_itemicon {
	height: 37px;
    width: 40px;
    margin-left: 14px;
}

.fly-flow-step-bar div.ui-browsepanel-con {
	overflow: hidden;
}

.fly-flow-content { width: 400px; float: left; background: #535353; }
.fly-flow-content div.ui-widget-header { 
	padding: 3px 5px 1px 5px; 
	color: #808080; 
	border: 1px solid #A8A8A8;
	border-bottom: 0px none;
}
.fly-flow-content div.ui-state-highlight { 
	border: none; 
	text-shadow: 0 0 0;
}

.fly-flow-prop-bar { width: 200px; overflow: hidden; float: left; background: #535353;}
.fly-flow-prop-bar * { color:#fff; }
.fly-flow-prop-bar div.ui-widget-panel {overflow: hidden;}
.fly-flow-prop-bar div.ui-widget-header {
	font-weight:normal;
	border: 1px solid #A8A8A8;
	border-bottom: 0px none;
	padding: 3px 5px 0; 
}
.fly-flow-prop-bar div.ui-widget-content { 
	background: transparent;
	border: 1px solid #A8A8A8;
	border-top: 0px none;
}

.fly-flow-signal-bar { overflow: hidden; }
.fly-flow-signal-bar * { color:#fff; }
.fly-flow-signal-bar div.ui-widget-header { 
	margin: 0;
	font-weight:normal;
	border: 1px solid #A8A8A8;
	border-bottom: 0px none;
}
.fly-flow-signal-bar div.ui-widget-content { 
	border: 1px solid #A8A8A8;
	border-top: 0px none;
	background: #535353;
}

#datasource .ui-easytree-con { width: 100%; }

/* 启动加载 */
#startingCover {
    background: none repeat scroll 0 0 #535353;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000000;
}
#startingLogo {
    background: url("../images/default/logo.large.png") repeat scroll 0 0 transparent;
    height: 35px;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: absolute;
    top: 50%;
    width: 91px;
}
#startingText {
    color: #fff;
    cursor: default;
    font-family: Arial,Tahoma,微软雅黑;
    font-size: 12px;
    height: 50px;
    left: 50%;
    margin: 10px 0 0 -77px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 160px;
}
#startingBarContainer {
    background: none repeat scroll 0 0 #666666;
    border: 1px solid #999999;
    font-size: 0;
    height: 2px;
    left: 50%;
    margin: 50px 0 0 -50px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 100px;
}
#startingBar {
    background: url("../images/desktop/starting_bar.gif") repeat scroll 0 0 #FE780A;
    font-size: 0;
    height: 2px;
    overflow: hidden;
    width: 0;
}
#progress {
    bottom: 30px;
    display: none;
    height: 450px;
    overflow: auto;
    position: absolute;
    right: 20px;
    width: 250px;
    z-index: 1000001;
}
#startingTips {
    color: #666666;
    font-family: tahoma;
    font-size: 12px;
    height: 20px;
    left: 50%;
    margin: 72px 0 0 60px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 40px;
}
/*banner bg*/
.ui-layout-north{
	height:40px;
	background-image: url("../images/default/banner-bg.png");
}
.ui-tab-homepage{
	width:48px;
	height:38px;
	background-image: url("../images/default/startlogo.png");
	background-repeat: no-repeat;
	padding:0;
	margin: 0;
	float:left;
}
.ui-tab-homepage.active{
	background-image: url("../images/default/startlogo.active.png");
}
.ui-tab-homepage:hover {
	background-image: url("../images/default/startlogo.active.png");
}
.fly-container .fly-tabs > li > a.active >div.ui-tab-left{
	background-image: url("../images/default/tableft-hover.png");
}
.fly-container .fly-tabs > li > a.active >div.ui-tab-right{
	background-image: url("../images/default/tabright-hover.png");
	position: relative;
    z-index: 100;
}
.fly-container .fly-tabs > li > a.active >div.ui-tab-middle{
	background-image: url("../images/default/tabmiddle-hover.png");
}
.ui-tab-homepage-text{
	width:89px;
	height:23px;
	background-image: url("../images/default/logotext.png");
	background-repeat: no-repeat;
	margin-top:8px;
	float:left;
}
.ui-tab-a{
	margin-top:10px;
}
.ui-tab-left{
	width:21px;
	height:30px;
	background-image: url("../images/default/tableft.png");
	background-repeat: no-repeat;
	float:left;
}
.ui-tab-right{
	width:21px;
	height:30px;
	background-image: url("../images/default/tabright.png");
	background-repeat: no-repeat;
	float:left;
}
.ui-tab-middle{
	width:auto;
	height:30px;
	background-image: url("../images/default/tabmiddle.png");
	display:block;
	float:left;
	padding-right:10px;
}
.hover .ui-tab-text,
.active .ui-tab-text {
	 color: #ffffff;
}
.hover .ui-modify-tag,
.active .ui-modify-tag {
	 color: #2E83FF;
}
.ui-tab-text, .ui-modify-tag {
	 color: #808080;
}
.ui-tab-middle span.ui-icon-close {
	position: absolute;
    z-index: 200;
    margin-top:2px;
}

/*首页纵向选项卡*/
.ui-tab-side-container ul.ui-tabs li.active{
	border-top: medium none;
	background: #535353;
}

#navisTab {
	padding: 0 35px 0 0;
	margin-left:0;
}
#navigator-ul {
	position: relative;
	height: 2700px;
	width: 70px;
	background: url("../images/default/home.left.bg.png") 0 0 repeat-y;
}
#navigator-ul li{
	width:70px;
	height:70px;
	background: #E4E4E4 url("../images/default/tabbg.normal.png") 0 0 no-repeat;
	border-bottom:1px solid #A8A8A8;
}
#navigator-ul li:hover {
	background: #E4E4E4 url("../images/default/tabbg.hover.png") 0 0 no-repeat;
}
#navigator-ul li a:hover {
	background-color: transparent;
}
#navigator-ul li.active{
	background:url("../images/default/tabbg.active.png") no-repeat scroll 0 0 #535353;
}

#navigator-ul li a{
 	padding:0;
 	margin:0;
 	color:#fff;
}

.ui-editorContent{
	/*background-image: url("../images/default/content-bg.png");*/
	background: #535353;
}
.fly-content-panels{
	position: relative;
	background: transparent;
	border:0;
}

/*底部状态栏*/
.fly-south{
	background:url("../images/default/tabmiddle.png") repeat-x;	
	border:0 1px 1px 1px solid #A8A8A8;
	line-height: 30px;
	color:#ffffff;
}
.fly-exit{
	width:19px;
	height:19px;
	background-image: url("../images/default/exit.png");	
	background-repeat:no-repeat;
	float:right;
	margin:5px 20px;
}
/*导航小图标*/
.ui-navi-icon{
	width:100%;
	height:38px;
	margin-bottom: 3px;
	background-repeat:no-repeat;
	background-position:bottom;
}
.ui-navi-icon-transjob{
	background-image: url("../images/desktop/navi_trans.png");	
}
.ui-navi-icon-db{
	background-image: url("../images/desktop/navi_db.png");
}
.ui-navi-icon-domain{
	background-image: url("../images/desktop/navi_domain.png");
}
.ui-navi-icon-report{
	background-image: url("../images/desktop/navi_report.png");
}
.ui-navi-icon-fs{
	background-image: url("../images/desktop/navi_filesys.png");
}
.ui-navi-icon-systools{
	background-image: url("../images/desktop/navi_systools.png");
}

a.active .ui-navi-icon-transjob{
	background-image: url("../images/desktop/navi_trans_active.png");	
}
a.active .ui-navi-icon-db{
	background-image: url("../images/desktop/navi_db_active.png");
}
a.active .ui-navi-icon-domain{
	background-image: url("../images/desktop/navi_domain_active.png");
}
a.active .ui-navi-icon-fs{
	background-image: url("../images/desktop/navi_filesys_active.png");
}
a.active .ui-navi-icon-systools{
	background-image: url("../images/desktop/navi_systools_active.png");
}

.fly-userinfo{
	cursor:pointer;
	margin-left:30px; 
}
.fly-userinfo:hover {
	color:#2e83ff;
}
.ui-browsepanel-con div span p{
	color:#fff;
}
.ui-browsepanel-con div.ui-state-hover span p,
.ui-browsepanel-con div.ui-state-active span p{
	
}

.fly-flow-step-bar .ui-browsepanel-itemcon span p {
	font-size: 90%;
}

.fly-container .fly-tabs li a span{
	line-height: 30px;
}
.ui-breadcrumb ul li a{
	color:#FFFFFF;
	line-height: 18px;
	text-shadow: 0 0 0;
}
.ui-tab-side-container ul.ui-tabs{
	background: url("../images/default/funbarbg.png") repeat-y;
	border-right: 1px solid #8E8E8E;
}
.ui-tab-side-container ul.ui-tabs li a:hover,
.ui-tab-side-container ul.ui-tabs li a.active:hover {
	background: transparent;
}
.ui-etree li a{
	color:#fff;
}

.fly-search {
	position: absolute;
	top: 5px;
	right: 10px;
	z-index: 100;
}

.fly-editor-tab{
	width: 100%;
	height:100%;
	margin: 0 5px;
}
.fly-editor-content-height-browse-panel,
.fly-editor-content-browse-panel-no-toolbar{
	width: 100%;
	overflow-y:auto; 
}
.fly-editor-content-browse-panel-no-toolbar{
	height: 100%;
}
.fly-editor-systools .func-line-odd{
	height:auto;
	min-height: 100px;
	background: #3F3F3F;
}
.fly-editor-systools .func-line-even{
	height:auto;
	min-height: 100px;
	background: #343434;
}
.fly-editor-systools .split-line-odd{
	width: 100%;
	height: 3px;
	background: url("../images/default/split.line.odd.png") repeat-x;
}
.fly-editor-systools .split-line-even{
	width: 100%;
	height: 3px;
	background: url("../images/default/split.line.even.png") repeat-x;
}
.ui-tab-side-container  .fly-editor-content-height-no-padding{
	background:transparent;
	padding-left:72px;
}

.fly-editor-systools .func-title-con{
	width: 100%;
}
.fly-editor-systools .func-item-con{
	float: left;
	margin-left: 15px;
	padding: 5px;
	cursor: pointer;
}

.fly-editor-systools .ui-state-hover{
	border: 0 none;
}

.fly-editor-systools .func-item{
	width: 32px;
	height: 32px;
	background: url("../images/functype/default.png") no-repeat;
	margin: 0 auto;
	margin-bottom: 5px;
}

.fly-editor-systools .func-title-con .func-item-text{
	font-weight: bold;
	font-size: 1.1em;
	padding: 7px 14px;
}
.fly-editor-systools .func-item-con .func-item-text {
	width: 80px;
	white-space:nowrap;
	text-align: center;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow:hidden;
	cursor: pointer;
}
.fly-editor-systools .func-title-con .func-item-text,
.fly-editor-systools .func-item-con .func-item-text{
	color: #ffffff;
}
.fly-editor-tab .ui-breadcrumb .ui-toolbar-group-left *{
	font-weight: bold;
}

div.ui-trans-icon {
	background-image: url("../images/desktop/bi.trans.png");
}
div.ui-job-icon {
	background-image: url("../images/desktop/bi.job.png");
}
div.ui-db-icon {
    background-image: url("../images/desktop/bi.database.png");
}
div.ui-fs-cloud-icon {
	background-image: url("../images/desktop/bi.file.system.cloud.png");
}
div.ui-fs-local-icon {
	background-image: url("../images/desktop/bi.file.system.local.png");
}
div.ui-fs-ftp-icon {
	background-image: url("../images/desktop/bi.file.system.ftp.png");
}
div.ui-fs-sftp-icon {
	background-image: url("../images/desktop/bi.file.system.ftp.png");
}
#plugin_panel .ui-browsepanel-itemcon span p {
	font-size: 0.85em;
    line-height: 1.1em;
    margin: 0 auto;
}
.fly-browsepanel .ui-browsepanel-itemcon {
	border: medium none;
	height: 76px;
}

#navis .ui-browsepanel-con .ui-state-hover {
	background: url("../images/desktop/ui.panel.hover.png") no-repeat;
}

#navis .ui-browsepanel-con .ui-state-active {
	background: url("../images/desktop/ui.panel.active.png") no-repeat;
}

.fly-browsepanel .ui-browsepanel-itemcon span p {
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}

.fly-editor {
	border: 1px solid #A8A8A8;
	border-top: 0px none;
}

.fly-editor .fly-editor-content * {
	color: #000000;
}

.fly-editor .fly-editor-content .ui-tab-container .ui-tab-panel-container {
	background: none repeat scroll 0 0 transparent;
	border: 1px solid #000000;
}

.fly-editor .fly-editor-content .ui-grid-layout-item-empty {
	color: red;
	height: auto;
	margin: 5px;
}

.fly-editor .fly-editor-content .ui-panel,
.fly-editor .fly-editor-content .ui-show-description-panel,
.fly-editor .fly-editor-content fieldset,
.fly-editor .fly-editor-content input,
.fly-editor .fly-editor-content select,
.fly-editor .fly-editor-content textarea {
	background: none repeat scroll 0 0 transparent;
	border: 1px solid #000000;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
}

.fly-editor .fly-editor-content input:focus,
.fly-editor .fly-editor-content select:focus,
.fly-editor .fly-editor-content textarea:focus {
	-moz-box-shadow: 0 2px 8px #8f8f8f;
    -webkit-box-shadow: 0px 2px 8px #8f8f8f;
    box-shadow: 0px 2px 8px #8f8f8f;
    border-color:rgba(82, 168, 236, 0.8);
    font-weight: bold;
}

.fly-editor .fly-editor-content .ui-show-description-panel,
.fly-editor .fly-editor-content fieldset {
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
}

.fly-editor .ui-tab-container ul.ui-tabs li.active {
	background: #696969;
}

.fly-editor .ui-tab-container ul.ui-tabs li a:hover {
	background: none repeat scroll 0 0 transparent;
}

.fly-editor .ui-tab-container span.ui-required-tag {
	color: red;
	margin: 7px 7px 0;
	position: absolute;
}



.ui-dialog .ui-dialog-content * {
	color: #fff;
}
.ui-dialog .ui-dialog-content .ui-tab-container .ui-tab-panel-container {
	background: none repeat scroll 0 0 transparent;
	border: 1px solid #cccccc;
}
.ui-dialog .ui-dialog-content .ui-panel,
.ui-dialog .ui-dialog-content .ui-show-description-panel,
.ui-dialog .ui-dialog-content fieldset,
.ui-dialog .ui-dialog-content input,
.ui-dialog .ui-dialog-content select,
.ui-dialog .ui-dialog-content textarea {
	background: none repeat scroll 0 0 transparent;
	border: 1px solid #cccccc;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
}
.ui-dialog .ui-dialog-content input:focus,
.ui-dialog .ui-dialog-content select:focus,
.ui-dialog .ui-dialog-content textarea:focus {
	-moz-box-shadow: 0 2px 8px #8f8f8f;
    -webkit-box-shadow: 0px 2px 8px #8f8f8f;
    box-shadow: 0px 2px 8px #8f8f8f;
    border-color:rgba(82, 168, 236, 0.8);
    font-weight: bold;
}

.ui-dialog .ui-dialog-content .ui-show-description-panel,
.ui-dialog .ui-dialog-content fieldset {
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
}
.ui-dialog .ui-tab-container ul.ui-tabs li.active {
	background: #696969;
}

.ui-dialog .ui-tab-container ul.ui-tabs li a:hover {
	background: none repeat scroll 0 0 transparent;
}

.ui-dialog .ui-dialog-content span.ui-required-tag {
	color: red;
	margin: 7px 7px 0;
	position: absolute;
}

.ui-tree * {
	color: #ffffff;
}

.ui-tree-node-hover *,
.ui-tree-node-selected * {
	color: #000000;
}

#navis .ui-scrollbar-div1-vertical {
	background-image: url("../images/default/navis_up_enable.png");
}
#navis .ui-scrollbar-div1-vertical:HOVER {
	background-image: url("../images/default/navis_up_hover.png");
}
#navis .ui-scrollbar-div1-vertical:FOCUS {
	background-image: url("../images/default/navis_up_pressed.png");
}

#navis .ui-scrollbar-div2-vertical {
	background-image: url("../images/default/navis_down_enable.png");
}
#navis .ui-scrollbar-div2-vertical:HOVER {
	background-image: url("../images/default/navis_down_hover.png");
}
#navis .ui-scrollbar-div2-vertical:FOCUS {
	background-image: url("../images/default/navis_down_pressed.png");
}

.fly-flow-step-bar .ui-scrollbar-div1-vertical,
.fly-flow-step-bar .ui-scrollbar-div2-vertical{
	width: 42px;
	height: 13px;
}

.fly-flow-step-bar .ui-scrollbar-div1-vertical {
	background-image: url("../images/default/stepbar_up_enable.png");
}
.fly-flow-step-bar .ui-scrollbar-div1-vertical:hover{
	background-image: url("../images/default/stepbar_up_hover.png");
}
.fly-flow-step-bar .ui-scrollbar-div1-vertical:FOCUS{
	background-image: url("../images/default/stepbar_up_pressed.png");
}

.fly-flow-step-bar .ui-scrollbar-div2-vertical {
	background-image: url("../images/default/stepbar_down_enable.png");
}
.fly-flow-step-bar .ui-scrollbar-div2-vertical:HOVER{
	background-image: url("../images/default/stepbar_down_hover.png");
}
.fly-flow-step-bar .ui-scrollbar-div2-vertical:FOCUS{
	background-image: url("../images/default/stepbar_down_pressed.png");
}


.fly-editor-content-browse-panel-no-toolbar .ui-state-hover{
	background: url("../images/desktop/ui.func.hover.png") no-repeat;
	background-position: center;
	-moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
	border: 1px #5C5C5C;
	border-radius:5px;
}

.fly-dashboard-editor-wrapper{
	position: absolute;
}

.fly-dashboard-editor-content{
	background: url("../images/default/dashboard_editer_bg.gif") repeat scroll left top #cccccc;
    position: absolute;
	-moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
	margin: 5px;
}

.fly-dashboard-editor-component{
	position: absolute;
	margin: 0;
	padding: 0;
}

.fly-dashboard-editor-canvas{
	position: absolute;
	margin: 0;
}

.fly-systools-about-title {
	background: url("../images/default/about_title.png") no-repeat;
}

.fly-systools-about-bold{
	font-size: larger;
	font-weight: bold;
}

.fly-module-icon {
	width:54px;
	height:50px;
	margin:5px;
	float:left;
}

.fly-module-icon-disabled {
	opacity: .3;
    filter: Alpha(Opacity=30);
}

.fly-module-icon-db {
	background: url("../images/modules/db.png") no-repeat;
}

.fly-module-icon-dn {
	background: url("../images/modules/dn.png") no-repeat;
}

.fly-module-icon-di {
	background: url("../images/modules/di.png") no-repeat;
}

.fly-module-icon-ba {
	background: url("../images/modules/ba.png") no-repeat;
}

.fly-module-icon-fs {
	background: url("../images/modules/fs.png") no-repeat;
}
