body {
	background-image: url("../images/login/bg.png");
	background-color: #1A1A1C;
	font-family: Microsoft YaHei,Segoe UI,Tahoma,Arial,Verdana,sans-serif;
    font-size: 12px;
    text-align: center;
    /*text-shadow: 0 0 3px #666666;*/
	line-height: 1.25em;
	color: #D3D4D5;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

a {
	color: #3BA7BC;
	font-family: Microsoft YaHei,Segoe UI,Tahoma,Arial,Verdana,sans-serif;
	font-weight: bold;
	text-align: right;
}

input:hover, select:hover {
	/*box-shadow: 0px 0px 8px #2E83FF;*/
}


.label {
	font-weight: bold;
}

label {
	font-size: 12px;
	font-family: Microsoft YaHei,Segoe UI,Tahoma,Arial,Verdana,sans-serif;
	text-align: left;
	display: block;
	float: left;
	line-height: 25px;
	margin: 0 10px;
}

.ui-login-label label {
	width: 40px;
}

.ui-login-widget {
	border: 1px solid #C3BBB6;
	background: none repeat scroll 0 0 #C3BBB6;
	width: 125px;
	padding: 4px;
	border-radius: 5px;
}

.ui-login-button {
    border: 0 none;
    height: 32px;
    width: 85px;
    font-size: 16px;
    font-weight: bold;
    font-family: Microsoft YaHei,Segoe UI,Tahoma,Arial,Verdana,sans-serif;
    cursor: pointer;
	border-radius: 5px 5px 5px 5px;
    line-height: 1.5em;
    display: inline-block;
}

.ui-login-button-default {
	background: url("../images/login/button.normal.bg.png") no-repeat;
	color: #FFFFFF;
	float:right;
	margin-right: 8px;
}
.ui-login-button-default:FOCUS{
	background: url("../images/login/button.pressed.bg.png") no-repeat;
}

.ui-login-button-hover {
	color: #FFFFFF;
    background:url("../images/login/button.hover.bg.png") no-repeat;
    box-shadow: 0px 0px 0px;
}

.ui-login-button-disabled {
	color: #FFFFFF;
    background:url("../images/login/button.disabled.bg.png") no-repeat !important;
    box-shadow: 0px 0px 0px;
    cursor: auto !important;
}

#fly_portal_wrapper{
	position:absolute;
}

#fly_portal_bg {
	position:absolute;
	background-color: #333;
	width: 100%;
	height: 100%;
}

#fly_login_wrapper {
	background:url("../images/login/center.bg.png") no-repeat;
	width: 955px;
	height:593px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 90px;
	vertical-align:middle;
}

.chrome #fly_login_wrapper,
.safari #fly_login_wrapper,
.firefox #fly_login_wrapper,
.mozilla #fly_login_wrapper{
	opacity: .95;
    filter: Alpha(Opacity=95);
}

#fly_login {
	width:654px;
	height:343px;
	margin:0 auto;
	float: left;
	margin: -30px auto 0 150px;
}
#fly_login #title img{
	margin-top: 6px;
}
#title {
	float: left;
	padding: 1px 0 6px 15px;
}

#fly_login_header {
	float: left;
	width: 655px;
	height: 50px;
	background: url("../images/login/hdr.bg.png") 0 0 repeat-x;
}

#status {
	color: #C7B299;
	float: right;
	font-weight: bold;
	text-align: right;
	padding-top: 14px;
	padding-right: 15px;
}

#status a {
	color: #C7C3C7;
	text-decoration: none;
}

div.overlay-widget {
	display: block;
}

#fly_login_container {
	float: left;
	width: 655px;
	background: transparent;
	/*background: url(../images/login/container.bg.jpg) 0 0 repeat-x;*/
}

#fly_login_sidebar {
	float: left;
	width: 199px;
	text-align:center;
	display:inline-block;
	vertical-align:middle;
}

#fly_login_sidebar .content {
	-moz-background-clip: border;
	-moz-background-origin: padding;
	-moz-background-size: auto auto;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url("../images/login/div.bg.png");
	border: solid 1px white;
	padding: 10px;
	width: 95%;
	color: white;
	-moz-box-shadow: 7px 7px 5px #000;
	-webkit-box-shadow: 7px 7px 5px #000;
	box-shadow: 7px 7px 5px #000;
}

#fly_login_sidebar h1 {
	color: white;
	line-height: 22px;
	/**text-shadow: #c89f40 2px 2px 2px;*/
}

#fly_login_content {
	-moz-background-clip: border;
	-moz-background-origin: padding;
	-moz-background-size: auto auto;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url("../images/login/div.bg.png");
	border: solid 1px white;
	float: left;
	width: 392px;
	height: 195px;
	-moz-box-shadow: 7px 7px 5px #000;
	-webkit-box-shadow: 7px 7px 5px #000;
	box-shadow: 7px 7px 5px #000;
	margin-left:11px;
	margin-top:10px;
	border:7px solid #8E8E8E;
	border-radius: 10px
}

div.section {
	
}

#fly_login_footer {
	clear: both;
	float: left;
	margin-top:10px;
	width: 100%;
	height:64px;
	padding-top: 15px;
}

#fly_login_footer_box {
	float: right;
	text-align: right;
	margin-right:20px;
	color: white;
}

#login fieldset {
	border: 0;
	color: white;
}

.buttonBox {
	text-align: center;
	width:100%;
	margin-top: 10px;
}


#fly_login_content .section {
	float: left;
	width: 100%;
	height: 100%;
	text-align: left;
}

#fly_login_content .section .slide {
	position: absolute; 
	width:100%;
	height: 200px;
}

.section-paging {
    overflow: hidden;
    padding-right: 10px;
    position: relative;
    text-align: right;
    top: -15px;
    width: 100%;
    z-index: 100;
}

.section-paging a {
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    height: 10px;
    margin-right: 10px;
    text-indent: 9999px;
    width: 10px;
}

.section-paging a.activeSlide {
    background-color: #4066c4;
}

#messages {
	color: #c89f40;
}

.messages {
	color: #c89f40;
}

.errors {
	color: #4066c4;
	margin-top: 13px;
	margin-left: 10px;
	text-align: left;
	float:left;
	width: 100px;
	height: 25px;
}
.ui-loging-title{
	width: 75px;
	height:20px;
	background:  url("../images/login/login.title.png");
	margin:20px 0 0 80px;
}
.ui-login-star{
	background: url("../images/login/login.star.png") no-repeat scroll 0 0 transparent;
    height: 97px;
    left: 135px;
    position: relative;
    top: 55px;
    width: 202px;
}

.ui-login-close{
	background: url("../images/portal/portal.png") no-repeat scroll -141px 0 transparent;
    height: 25px;
    width: 25px;
    top: 22px;
    left: 615px;
    position: relative;
    cursor: pointer;
}

.slide p.slide-p{
	font-size: 16px;
	font-weight: bold;
    line-height: 1em;
}

.slide ul.slide-ul{
	font-size: 14px;
	line-height: 1.5em;
}

.slide p.slide-single-p{
	font-size: 24px;
	font-weight: bold;
    line-height: 1em;
}

.fly-setting-module {
	margin:20px;
	float:left;
	font-size: 18px;
	font-weight: bold;
	color:#fff;
	cursor:pointer;
}

.fly-space-frame {
	display:none;
}


#fly_portal_header,#fly_portal_footer {
	border: 0 none;
	padding: 0;
	position: absolute;
	width: 100%;
	z-index: 10;
}

#fly_portal_header {
	top: 0;
	height: 35px;
	opacity: .8;
	background-color: #333333;
}

#fly_portal_header * {
	color: #999999;
	font-size: 1em;
	font-family: Microsoft YaHei, Segoe UI, Tahoma, Arial, Verdana,
		sans-serif;
}

#fly_portal_menus {
	height: 35px;
	margin: 0;
	padding: 0;
	width: 100%;
}

#fly_portal_menus_ul {
	bottom: 8px;
	position: absolute;
	margin: 0;
	padding: 0 0 0 8px;
}

#fly_portal_menus_ul li {
	display: inline;
}

#fly_portal_menus_ul li div.clear {
	height: auto;
	display: inline;
}

#fly_portal_menus_ul li a {
	font-weight: 700;
	margin: 0 10px 0 9px;
	text-decoration: none;
	text-transform: uppercase;
}

#fly_portal_oper {
	bottom: 0;
	height: 35px;
	position: relative;
	top: auto;
	float: right;
	right: 0;
	margin: 0;
	padding: 0;
	z-index: 100;
}

#fly_portal_oper a {
	text-decoration: none;
	text-transform: uppercase;
}

#fly_portal_oper a div {
	height: auto;
	top: 0;
	margin-top: 5px;
	margin-right: 20px;
}

#fly_portal_oper a div span {
	padding-right: 3px;
	padding-left: 8px;
	line-height: 100%;
}

#fly_portal_oper .highlight * {
	color: #fff;
}

#fly_portal_footer {
}

#fly_portal_desktop_ctrl,#fly_portal_footer_content {
	border: 0 none;
	padding: 0;
	position: relative;
	width: 100%;
	z-index: 10;
}

#fly_portal_desktop_ctrl {
	height: 35px;
}

#fly_portal_desktop_ctrl_btns {
	position: absolute;
	right: 15px;
}

#fly_portal_desktop_ctrl_btns a {
	float: right;
}


.fly-full-sceen-out div {
	background-position: -60px -30px;
}

.fly-full-sceen-in div {
	background-position: 0 -30px;
}

#btn_previous div {
	background-position: 0 -60px;
}

#btn_next div {
	background-position: 0 0;
}

#fly_portal_desktop_ctrl_btns a div {
	margin: 0 8px;
	position: relative;
	cursor: pointer;
	height: 28px;
	width: 28px;
	background-image: url("../images/portal/portal.png");
	overflow: hidden;
}


#fly_portal_footer_content {
	height: 60px;
	opacity: .5;
	background-color: #333;
	clear: both;
    line-height: 27px;
    text-align: center;
}

.fly_portal_cover {
	z-index: 9999;
}

#btn_setting {
	background-image: url("../images/portal/portal.png");
	background-position: -119px -22px;
	margin: 5px 20px 0 0;
	width: 22px;
	height: 22px;
	cursor: pointer;
}

.setting-highlight {
	background-position: -119px 0 !important;
}
