.navbar-default {
  background-color: #eb9316;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-default .navbar-nav > .active > a {
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #e7e7e7;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  font-weight: bold;
  background-color: #fff;
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}
.navbar-nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  top: 21px;
  border-radius: 6px 6px 0 0;
}
.ie .navbar-nav > li > a {
	padding-top: 5px;
}

.navbar-logo {
	float: left;
	height: 50px;
    line-height: 20px;
    padding: 8px;
}




#idBody {
  padding-top: 70px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#idBody .navbar-nav.navbar-right:last-child {
  margin-right: 0;
}

#idBody footer {
  height: 60px;
  width: 100%;
}

#idBody footer .container {
  width: auto;
  max-width: 900px;
  padding: 0 15px;
}

#idBody footer .container .text-muted {
  margin: 0 10px 0 0;
  padding: 0;
}

#idBody footer .container .text-muted p {
  margin: 0;
  padding: 0;
}

#idBody .ui-spreadsheet-workspace {
  border: medium none;
}

#fly_portal_cover {
	position:fixed;
	background-color: #333;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: .70;
    filter: alpha(opacity=70);
    z-index: 9999;
}

.fly_portal_cover{
	overflow: hidden;
}

#fly_portal_cover_img {
	position:absolute;
	width:48px;
	height:48px;
}

.fly-user-wrap {
	position: relative;
	min-width: 34px;
	min-height: 34px;
	cursor: pointer;
}

.fly-user-mask {
	position: absolute;
    background-image: url("../images/default/avatar_mark.png");
    width: 34px;
    height: 34px;
    top: 10px;
    z-index: 3;
}

.fly-user-img {
	position: absolute;
	width: 32px;
	height: 32px;
	top: 11px;
    overflow: hidden;
    z-index: 2;
}