body {
	background-image: url("../images/login/bg.png");
	background-color: #1A1A1C;
	font-family: Microsoft YaHei,Segoe UI,Tahoma,Arial,Verdana,sans-serif;
    font-size: 14px;
    /*text-shadow: 0 0 3px #666666;*/
	line-height: 1.25em;
	color: #333;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.ui-login-widget {
	border: 1px solid #C3BBB6;
	background: none repeat scroll 0 0 #C3BBB6;
	width: 130px;
	padding-left: 5px;
	border-radius: 5px;
	color: #333;
}

.ui-login-button {
    border: 0 none;
    height: 32px;
    width: 85px;
    font-size: 16px;
    font-weight: bold;
    font-family: Microsoft YaHei,Segoe UI,Tahoma,Arial,Verdana,sans-serif;
    cursor: pointer;
	border-radius: 5px 5px 5px 5px;
    line-height: 1.5em;
    display: inline-block;
}

.ui-login-button-default,
.ui-login-button-hover,
.ui-login-button-disabled {
	background: url("../images/login/button.bg.png");
	width: 85px;
	height: 32px;
}

.ui-login-button-default{
	background-position: 0 -64px;
	color: #FFFFFF;
	float:right;
	margin-right: 8px;
}
.ui-login-button-default:focus{
	background-position: 0 -96px;
}

.ui-login-button-hover {
	background-position: 0 -32px;
	color: #FFFFFF;
    box-shadow: 0px 0px 0px;
}

.ui-login-button-disabled {
	background-position: 0 0;
	color: #FFFFFF;
    box-shadow: 0px 0px 0px;
    cursor: auto !important;
}

#fly_portal_wrapper{
	position:absolute;
}

#fly_portal_bg {
	position:absolute;
	background-color: #333;
	width: 100%;
	height: 100%;
}

#fly_portal_cover_first {
	position:absolute;
	background-color: #333;
	width: 100%;
	height: 100%;
    z-index: 9999;
}

#fly_portal_cover {
	position:absolute;
	background-color: #333;
	width: 100%;
	height: 100%;
    z-index: 9998;
    opacity: .8;
	filter: Alpha(Opacity=80);
}

#fly_portal_cover_img {
	position:absolute;
	width:48px;
	height:48px;
}

#fly_login_wrapper {
	background:url("../images/login/center.bg.png") no-repeat;
	width: 955px;
	height:593px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 90px;
	vertical-align:middle;
}

.chrome #fly_login_wrapper,
.safari #fly_login_wrapper,
.firefox #fly_login_wrapper,
.mozilla #fly_login_wrapper{
	opacity: .95;
    filter: Alpha(Opacity=95);
}

#fly_login {
	width:654px;
	height:343px;
	margin:0 auto;
	float: left;
	margin: -30px auto 0 150px;
}
#fly_login #title img{
	margin-top: 6px;
}
#title {
	float: left;
	padding: 1px 0 6px 15px;
}

#fly_login_header {
	float: left;
	width: 655px;
	height: 50px;
	background: url("../images/login/hdr.bg.png") 0 0 repeat-x;
}

#status {
	color: #C7B299;
	float: right;
	font-weight: bold;
	text-align: right;
	padding-top: 14px;
	padding-right: 15px;
}

#status a {
	color: #C7C3C7;
	text-decoration: none;
}

div.overlay-widget {
	display: block;
}

#fly_login_container {
	float: left;
	width: 655px;
	min-height: 220px;
	background: transparent;
}

#fly_login_sidebar {
	float: left;
	text-align:center;
	display:inline-block;
	vertical-align:middle;
	margin-top: 30px;
	margin-left: 10px;
}

#fly_login_sidebar .content {
	-moz-background-clip: border;
	-moz-background-origin: padding;
	-moz-background-size: auto auto;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url("../images/login/div.bg.png");
	border: solid 1px white;
	padding: 10px;
	width: 95%;
	color: white;
	-moz-box-shadow: 7px 7px 5px #000;
	-webkit-box-shadow: 7px 7px 5px #000;
	box-shadow: 7px 7px 5px #000;
}

#fly_login_sidebar h5 {
	color: white;
	line-height: 22px;
	float: left;
	margin: 10px 0 0 0;
}

#fly_login_sidebar h5.ui-login-label {
	width: 80px;
	/**text-shadow: #c89f40 2px 2px 2px;*/
}

#fly_login_sidebar input, 
#fly_login_sidebar select, 
#fly_login_sidebar textarea, 
#fly_login_sidebar label {
	height: 26px;
}

#fly_login_content {
	-moz-background-clip: border;
	-moz-background-origin: padding;
	-moz-background-size: auto auto;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url("../images/login/div.bg.png");
	border: solid 1px white;
	float: left;
	width: 392px;
	height: 210px;
	-moz-box-shadow: 7px 7px 5px #000;
	-webkit-box-shadow: 7px 7px 5px #000;
	box-shadow: 7px 7px 5px #000;
	margin-left:11px;
	margin-top:10px;
	border:7px solid #8E8E8E;
	border-radius: 10px
}

div.section {
	
}

#fly_login_footer {
	clear: both;
	float: left;
	margin-top:25px;
	width: 100%;
	height:64px;
}

#fly_login_footer_box {
	float: right;
	text-align: right;
	margin-right:20px;
	color: white;
}

#login fieldset {
	border: 0;
	color: white;
}

.buttonBox {
	text-align: center;
	width:100%;
	margin-top: 10px;
}


#fly_login_content .section {
	float: left;
	width: 100%;
	height: 100%;
	text-align: left;
}

#fly_login_content .section .slide {
	position: absolute; 
	width:100%;
	height: 200px;
}

.section-paging {
    overflow: hidden;
    padding-right: 10px;
    position: relative;
    text-align: right;
    top: -15px;
    width: 100%;
    z-index: 100;
}

.section-paging a {
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    height: 10px;
    margin-right: 10px;
    text-indent: 9999px;
    width: 10px;
    outline: 0;
}

.section-paging a.activeSlide {
    background-color: #4066c4;
}

#messages {
	color: #c89f40;
}

.messages {
	color: #c89f40;
}

.ui-toeditor-div {
	color: #fff;
	margin-top: 13px;
	margin-left: 10px;
	text-align: left;
	font-weight: bold;
	float:left;
	width: 100px;
	height: 25px;
}
.ui-toeditor-div input {
	float:left;
	margin-top: 5px;
}
.ui-toeditor-div label {
	float:left;
	margin-top: 3px;
	margin-left: 5px;
}
.ui-login-star{
	background: url("../images/login/login.star.png") no-repeat scroll 0 0 transparent;
    height: 97px;
    left: 135px;
    position: relative;
    top: 55px;
    width: 202px;
}

.ui-login-close{
    height: 25px;
    width: 25px;
    top: 25px;
    color: #eee;
    font-size: 25px;
    left: 615px;
    position: relative;
    cursor: pointer;
}

.ui-login-close:hover {
	color: #fff;
}

.slide p.slide-p{
	color: #999;
	font-size: 16px;
	font-weight: bold;
    line-height: 1em;
}

.slide ul.slide-ul{
	font-size: 14px;
	line-height: 1.5em;
}

.slide p.slide-single-p{
	color: #999;
	font-size: 24px;
	font-weight: bold;
    line-height: 1em;
}

.fly-setting-module {
	margin:20px;
	float:left;
	font-size: 18px;
	font-weight: bold;
	color:#fff;
	cursor:pointer;
}

.fly-space-frame {
	display:none;
}


#fly_portal_header,#fly_portal_footer {
	border: 0 none;
	padding: 0;
	position: absolute;
	overflow: hidden;
	width: 100%;
	z-index: 10;
}

#fly_portal_header {
	top: 0;
	height: 35px;
	opacity: .8;
	filter: Alpha(Opacity=80);
	background-color: #333;
}

#fly_portal_header *,
#fly_portal_menus * {
	color: #d3d4d5;
	font-size: 1em;
	font-family: Microsoft YaHei, Segoe UI, Tahoma, Arial, Verdana,
		sans-serif;
}

#fly_portal_sub_menu_setting * {
	color: #333;
}

#fly_portal_menus {
	height: 35px;
	margin: 0;
	padding: 0;
	top: 0;
	width: 100%;
	position: relative;
	z-index: 20;
}

#fly_portal_menus_ul {
	bottom: 8px;
	position: absolute;
	margin: 0;
	padding: 0 0 0 8px;
}

#fly_portal_menus_ul li {
	display: inline;
}

#fly_portal_menus_ul li div.clear {
	height: auto;
	display: inline;
}

#fly_portal_menus_ul li a {
	font-weight: 700;
	margin: 0 10px 0 9px;
	text-decoration: none;
	text-transform: uppercase;
}

#fly_portal_menus_ul li .sub-menu a {
	font-weight: 700;
	margin: 0;
	text-decoration: none;
	text-transform: uppercase;
}

#fly_portal_menus_ul li .sub-menu dd a {
	margin: 0 10px 0 9px;
}

.sub-menu {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #FF6600 #999999 #999999;
    border-image: none;
    border-right: 1px solid #999999;
    border-style: solid;
    border-width: 2px 1px 1px;
    display: none;
    margin: 0;
    padding: 0 16px 0 20px;
    position: absolute;
    top: 22px;
    z-index: 100;
    opacity: 1;
    filter: Alpha(Opacity=100);
}

.sub-menu b {
    border-color: transparent transparent #FF6600;
    border-style: solid;
    border-width: 6px;
    font-size: 0;
    height: 0;
    line-height: 0;
    position: absolute;
    vertical-align: baseline;
    top: -14px;
    width: 0;
}

.sub-menu i {
    background: none repeat scroll 0 0 #C8C8D0;
    display: inline-block;
    height: 12px;
    vertical-align: middle;
    width: 1px;
}

.sub-menu dl {
    border-bottom: 1px dashed #E0E0E0;
    overflow: hidden;
    padding: 12px 0;
    margin: 0;
}
.sub-menu dl:last-child {
    border-bottom: medium none;
}
.sub-menu dt {
    color: #666;
    float: left;
    text-align: left;
    width: 72px;
}
.sub-menu dd {
    float: left;
    text-align: left;
    width: 242px;
}
.sub-menu dd a {
    color: #000;
    line-height: 1.5em;
    margin: 0 10px 0 9px;
}
.sub-menu p {
    margin-top: 15px;
}

#fly_portal_oper {
	bottom: 0;
	height: 35px;
	position: relative;
	top: auto;
	float: right;
	right: 0;
	margin: 0;
	padding: 0;
	z-index: 100;
}

#fly_portal_oper a {
	text-decoration: none;
	text-transform: uppercase;
}

#fly_portal_oper a.highlight *{
	color: #fff;
}

#fly_portal_oper a div {
	height: auto;
	top: 2px;
	margin-right: 20px;
	position: relative;
}

#fly_portal_oper a div .oper-text {
	padding-right: 3px;
	padding-left: 8px;
	line-height: 100%;
	float: left;
	margin: 0;
	width: auto;
}

#fly_portal_oper .highlight .first-level-menu,
#fly_portal_menus_ul .highlight .first-level-menu{
	color: #fff;
}

#fly_portal_oper .menu-disabled,
#fly_portal_oper .highlight .menu-disabled,
#fly_portal_menus_ul .menu-disabled,
#fly_portal_menus_ul .highlight .menu-disabled{
	color: #999;
	text-shadow: 1px 1px 0 #333;
	cursor: default;
}

#fly_portal_oper .sub-menu a,
#fly_portal_menus_ul .sub-menu a{
	color: #333;
}

#fly_portal_oper .sub-menu a.highlight,
#fly_portal_menus_ul .sub-menu .highlight a{
	color: #000;
	background-color: #f5f5f5;
}

#fly_portal_oper .sub-menu .menu-disabled,
#fly_portal_oper .sub-menu .highlight .menu-disabled,
#fly_portal_menus_ul .sub-menu .menu-disabled,
#fly_portal_menus_ul .sub-menu .highlight .menu-disabled {
	color: #999;
	text-shadow: 0 0 0;
	cursor: default;
}

#fly_portal_footer {
}

#fly_portal_content {
	position: absolute;
}

#fly_portal_footer_title {
	position: relative;
	float: right;
	z-index: 100;
	margin-top: 10px;
	margin-right: 25px;
}

#fly_portal_footer_title div {
	line-height: 20px;
	text-align: right;
}

#fly_portal_footer_left {
	margin: 0;
	padding: 0;
	width: 100%;
}

#fly_portal_footer_logo {
	float: left;
	padding: 1px 0 6px 15px;
}

#fly_portal_footer_logo img {
	margin-top: 10px;
}

#fly_portal_desktop_ctrl,
#fly_portal_footer_content {
	border: 0 none;
	padding: 0;
	position: relative;
	width: 100%;
	z-index: 10;
}

#fly_portal_desktop_ctrl {
	height: 35px;
}

#fly_portal_desktop_ctrl_btns {
	position: absolute;
	right: 15px;
}

#fly_portal_desktop_ctrl_btns a {
	float: right;
	outline: 0;
}


.fly-full-sceen-out div {
	background-position: -60px -30px;
}

.fly-full-sceen-in div {
	background-position: 0 -30px;
}

#btn_previous div {
	background-position: 0 -60px;
}

#btn_next div {
	background-position: 0 0;
}

#fly_portal_desktop_ctrl_btns a div {
	margin: 0 8px;
	position: relative;
	cursor: pointer;
	height: 28px;
	width: 28px;
	background-image: url("../images/portal/portal.png");
	overflow: hidden;
}


#fly_portal_footer_content {
	height: 60px;
	opacity: .8;
	filter: Alpha(Opacity=80);
	background-color: #333;
	clear: both;
    line-height: 27px;
    text-align: center;
}


#fly_portal_sub_menu_setting dt {
	font-size: 1.2em;
	margin-bottom: 5px;
}

#btn_setting {
	background-image: url("../images/portal/portal.png");
	background-position: -119px -22px;
	margin: 7px 20px 0 0;
	width: 22px;
	height: 22px;
	cursor: pointer;
}

.setting-highlight {
	background-position: -119px 0 !important;
}

.fly_portal_menu_content .ui-browsepanel-item-lasttime {
	color : #ccc !important;
	font-size: 75%;
}

.fly_portal_menu_content a {
	line-height: 27px;
}

.ui-layout-float {
	float: left;
}

.ui-browsepanel-itemcon {
	height: 100px !important;
}
